@tailwind base;
@tailwind components;
@tailwind utilities;

.post-content p {
  font-size: medium;
  margin: 1.2rem, 0;
}
.post-content h1 {
  font-size: larger;
  margin: 1.5rem, 0;
}
.post-content h2 {
  font-size: large;
  margin: 1.4rem, 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: red;
}
